aiohappyeyeballs
aiohttp
aiosignal
airfrans==0.1.5.1
attrs
backports.zstd
Brotli
cached-property
certifi
cffi
cftime
charset-normalizer
contourpy
cycler
cyclopts
Cython
dill==0.4.1
docstring_parser
docutils
eigency
filelock
fonttools
frozenlist
fsspec
gmpy2
h2
h5py==3.13.0
hpack
hyperframe
idna
importlib_metadata
Jinja2
joblib
kiwisolver
lips-benchmark==0.2.7
llvmlite==0.46.0
loguru
markdown-it-py
MarkupSafe
matplotlib==3.10.8
mdurl
meshio
mpmath
msgpack
multidict
multiprocess==0.70.19
munkres==1.1.4
Muscat
netCDF4==1.7.2
networkx
numba==0.64.0
numpy
packaging
pathlib==1.0.1
Pillow
platformdirs
pooch
propcache
psutil
pycparser
Pygments
pyparsing
PySocks
python-dateutil
pyvista
requests
rich
rich-rst
scikit-learn
scikit-sparse
scipy==1.11.4
scooby
six
sympy
threadpoolctl
tomli
torch
tqdm
triangle==20250106
typing_extensions
unicodedata2
urllib3
vtk==9.2.6
wslink
yarl
zipp
